{% extends 'base.html' %}

{% block content %}
  {% if user.is_authenticated %}
    <h1>Привет, {{ user.username }}!</h1>
  {% else %}
    <h1>Привет, гость!</h1>
  {% endif %}

  <p>Количество заявок, принятых в работу на нашем сайте = {{ num_applications_in_progress }}</p>

  {% for application in applications_done %}
    {% if forloop.counter <= 4 %}
        <p>{{ application.date }} {{ application.title }} {{ application.category }} <img width="200px" height="200px" src="{{ application.photo.url }}"></p>
    {% endif %}
  {% endfor %}

{% endblock %}